{% extends "base.html" %}
{% load static %}
{% include 'includes/main-nav.html' %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Upload an Image</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg mt-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
